@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: black;
}

.App {
  background: rgb(62, 0, 106);
  background: linear-gradient(
    90deg,
    rgba(62, 0, 106, 1) 0%,
    rgba(142, 51, 241, 1) 47%,
    rgba(198, 85, 240, 1) 85%
  );
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.done {
  text-decoration: line-through;
}